{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'navbar.html' %}
<div class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold mb-6 text-gray-800">{{ application_name }}</h1>
    <div class="bg-white shadow overflow-hidden sm:rounded-lg mb-8">
        <div class="px-4 py-5 sm:px-6">
            <h2 class="text-lg leading-6 font-medium text-gray-900">User Information</h2>
        </div>
        <div class="border-t border-gray-200">
            <dl>
                <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">Name</dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">{{ name }}</dd>
                </div>
                <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">Class</dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">{{ class }}</dd>
                </div>
            </dl>
        </div>
    </div>
    <div class="flex justify-end mb-6">
        <a href="{% url 'main:create_product' %}" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105 mx-4">Add Product</a>
        <button id="addProductAjax" class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105">Add Product by AJAX</button>
    </div>
    <div id="product-container">
        {% if not products %}
        <p class="text-lg text-gray-600">There are no products.</p>
        {% else %}
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
            {% for product in products %}
                {% include 'product_card.html' with product=product %}
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <p class="mt-8 text-sm text-gray-500">Last login session: {{ last_login }}</p>
</div>

{% endblock content %}